@model CRUDMVC.Models.Cliente

@{
    ViewData["Title"] = "Create";
}
<div class="container">
<h1 class="titulo-paginas">Novo cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Sexo" class="control-label"></label>
                <select class="custom-select" asp-for="Sexo">
                    <option selected>-</option>
                    <option>M</option>
                    <option>F</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
        
            <div class="form-group col-md-3">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <input type="submit" value="Adicionar" class="btn btn-success" style="width:auto" />
                 <a class="btn btn-primary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

